.code-block-caption {
  text-align: right;
}
.code-block-caption .caption-text {
  margin: 1em 0 0;
  display: inline-block;
  padding: 7px 15px;
  font-weight: bold;
  font-family: "Roboto Mono";
  font-size: 12px
}
.code-block-caption + div[class^="highlight"] .highlight {
  margin-top: 0;
}
